<component name="ArtifactManager">
  <artifact type="exploded-ejb" name="beans">
    <output-path>$PROJECT_DIR$/out/artifacts/beans</output-path>
    <root id="root">
      <element id="module-output" name="beans" />
      <element id="module-output" name="mongoDao" />
      <element id="module-output" name="model" />
      <element id="module-output" name="interfaces" />
    </root>
  </artifact>
</component>